<?xml version="1.0" encoding="utf-8"?><testsuites name="pytest tests"><testsuite name="pytest" errors="0" failures="0" skipped="0" tests="1" time="252.656" timestamp="2026-10-08T16:53:32.955837-05:00" hostname="VeguFam"><testcase classname="backend.tests.test_native_runtime_integration" name="test_native_two_sessions_collision_restart_and_controls" time="252.563" /></testsuite></testsuites>